@use '../utils/' as u;
html {
  box-sizing: border-box;
  font-size: 100%;
}
*,*::before,*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Red Hat Text", sans-serif;
    font-size: 1rem;
    min-height: 100vh;
    background-color: u.$rose-100;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

button {
    &:hover,
    &:focus {
        cursor: pointer;
    }
}

