@use "../utils/" as u;
h1 {
  margin-bottom: 1rem;
  color: u.$rose-900;
  font-size: 2rem;
  font-weight: map-get(u.$fontWeights, bold );
}
h2 {
  color: u.$red;
  font-size: 1.2rem;
  font-weight: map-get(u.$fontWeights, bold );
}

.ordered-title {
  font-size: 2rem;
  margin-block: .8rem;
  max-width: 10ch;

}
.ordered-price {
  color: u.$rose-900;
  font-weight: map-get(u.$fontWeights, bold );
}
.overlay-text {
  font-size: .9rem;
  color: u.$rose-400;
  margin-bottom: 2rem;
}