@mixin breakPoint-up ($width) {
    @media (min-width: $width ) {
        @content;
        
    }

}
@mixin breakPoint-down ($width) {
    @media (max-width: $width ) {
        @content;
        
    }

}

//icons
@mixin icons() {
    width: 17px;
    height: 17px;
    display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8.5px;
  border: none;

  
}